<div class="p-12 rounded border" *ngIf="hero">
  <a routerLink="">
    <button class="bg-blue-400 p-2 mb-1 rounded text-blue-100">Back To Heroes</button>
  </a>

  <div class="flex justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 20 20"
         fill="currentColor">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
    </svg>
  </div>
  <div class="mt-12">
    <div class="flex">
      <span style="flex: 1">Hero Name</span>
      <span style="flex: 2">{{hero.name}}</span>
    </div>
    <div class="flex justify-around mt-2">
      <span style="flex: 1"> Description</span>
      <span style="flex: 2"> {{hero.description}}</span>
    </div>
    <div class="flex justify-around mt-12">
      <span style="flex: 1"> Powers</span>
      <span style="flex: 2"> {{hero.powers}}</span>
    </div>
  </div>
</div>
